<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Welcome - ITS Simulator</title>

    <!-- Bootstrap core CSS -->
    <link href="./common-resources/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="./welcome-page-resources/css/scrolling-nav.css" rel="stylesheet">

    <!-- Vue.js -->
    <script src="./common-resources/vendor/vue/vue.js"></script>
    <script src="./common-resources/vendor/vue-resource/vue-resource.min.js"></script>

</head>

<body id="page-top">
    <div id="welcome-app">
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
            <div class="container">

                <!-- Logo -->
                <a class="navbar-brand js-scroll-trigger" href="#page-top">
                    <img src="./welcome-page-resources/img/rocket.png" alt="logo" width="50"> ITS Simulator
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Nav Bar -->
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="#about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="#services">Entertainment</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
                        </li>

                        <li class="nav-item">
                            <div style="width: 10px;"></div>
                        </li>


                        <li class="nav-item">
                            <div style="width: 10px; height: 10px;"></div>
                        </li>

                        <li class="nav-item" v-if="!isAuthenticated">
                            <a class="btn btn-primary" href="./login.html">Log in</a>
                        </li>

                        <li class="nav-item" v-if="isAuthenticated">
                            <a href="./private/personal.html" class="btn btn-outline-secondary">
                                {{username}}
                                <img src="./welcome-page-resources/img/astronaut-icon-vector.png" width="25px" alt="">
                            </a>
                        </li>


                        <li class="nav-item">
                            <div style="width: 10px; height: 10px;"></div>
                        </li>

                        <li class="nav-item" v-if="!isAuthenticated">
                            <a class="btn btn-success" href="./login.html">Sign up</a>
                        </li>

                        <li class="nav-item" v-if="isAuthenticated">
                            <form action="/logout" method="POST">
                                <button type="submit" class="btn btn-danger">Log out</button>
                            </form>
                        </li>


                        <li class="nav-item">
                            <div style="width: 10px; height: 10px;"></div>
                        </li>
                    </ul>
                </div>

            </div>
        </nav>

        <header class="bg-primary text-white">
            <div class="container text-center">
                <img src="./welcome-page-resources/img/SpaceX-Logo-2000px.png" alt="rocket" width="60%" style="margin-bottom:50px;">
                <h1>Welcome to ITS Simulator</h1>
                <p class="lead">Starships. Logistics. Become space trader right here and right now!</p>
            </div>
        </header>

        <section id="about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h2>About this game</h2>
                        <br>
                        <p class="lead">
                            This is a great place to spent your free time. Our game is so simple and understandable that could be played by anyone. Just follow tips and you are on the top!
                        </p>

                        <br>

                        <img src="./welcome-page-resources/img/planet-strange.gif" alt="rocket" width="80%">

                        <br><br>

                        <h4 class="lead">"ITS Simulator" features:</h4>
                        <ul>
                            <li><b>Be like Elon.</b> Filling of control over huge interstellar logistics company</li>
                            <li><b>Beautiful!</b> Friendly designed and smartly responsive game interface</li>
                            <li><b>Cross-platform.</b> Play anywhere, anytime. Let space be with you!</li>
                            <li><b>Easy to start.</b> Join game world without kiometers of registration mails and forms. Just one click and you are with us!</li>
                            <li><b>Space map.</b> Don't look to the cloudy sky. There are no stars. Just click "Space Map" button in your game menu and enjoy the "Sky"!</li>

                        </ul>

                    </div>

                </div>
            </div>
        </section>

        <section id="services" class="bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h2>Entertainment we offer</h2>
                        <br>
                        <p class="lead">
                            Do you like <b>Space</b>? <br> You like <b>Space Ships</b>?
                            <br> Do you like to <b>Manage and Controll</b>?!
                            <br><br> These 3 quastions are 3 main reasons why our game will be in favour for you. Tapping "screen cookies" and slashing froots is in the past.
                            <br> <br>
                            <i>No more words... Just try! And, we promiss you, that will be a great space journey you'll never forget! :)</i>
                        </p>

                        <img src="./welcome-page-resources/img/space-ship-animated.gif" alt="rocket" width="80%">
                    </div>
                </div>
            </div>
        </section>

        <section id="contact">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h2>Contact us</h2>
                        <p class="lead">Got some troubles? Let us know. Our contact center is "On" all the time. Support works 24/7 so don't need to wait a lot for response. </p>
                        <br>

                        <h4>Email:
                            <a href="mailto:alex323glo@gmail.com" title="Want to write a Letter ?">
                                <small>alex323glo@gmail.com</small>
                            </a>
                        </h4>
                        <br>
                        <h4>Tel:
                            <a href="tel:+380688680842" title="Want to make a Call ?">
                                <small>+38-068-868-08-42 <small>(Ukraine)</small></small>
                            </a>
                        </h4>

                        <br><br>

                        <a href="https://github.com/alex323glo/ITS-Simulator-game-service" title="See sources on GitHub!">
                            <img src="./welcome-page-resources/img/contact-us.gif" alt="rocket" width="100%">
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <!-- Footer -->
        <footer class="py-5 bg-dark">
            <div class="container">
                <p class="m-0 text-center text-white">
                    Copyright &copy; "ITS Simulator" 2018
                    <br> <br>
                    <small> 
                        Project is non-commerce & open-sourced. We are on <a href="https://github.com/alex323glo/ITS-Simulator-game-service">GitHub</a>!
                    </small>
                </p>
            </div>
            <!-- /.container -->
        </footer>

    </div>



    <!-- Vue.js custom JavaScript -->
    <script>
        new Vue({
            el: '#welcome-app',

            data() {
                return {
                    isAuthenticated: false,
                    username: '',

                    loginForm: {
                        email: '',
                        password: ''
                    },

                    registrationForm: {
                        email: '',
                        password: '',
                        confirmPassword: ''
                    }
                }
            },

            methods: {
                refreshAuthenticatedUsername() {
                    this.$http.get('/get-authenticated-username').then(
                        function success(response) {
                            this.isAuthenticated = (response != null);
                            this.username = response.bodyText;
                            console.log('Welcome.refreshAuthenticatedUsername() : successfully got username');
                        },
                        function error(response) {
                            console.log('Welcome.refreshAuthenticatedUsername() : can not get username');
                        }
                    );
                },

                sendLogin() {
                    if (!this.loginFormDataIsValid(
                            this.loginForm.email,
                            this.loginForm.password
                        )) {
                        alert('Wrong email or password was entered!');
                        return;
                    }
                    this.$http.post('/login', null, {
                        username: this.loginForm.email,
                        password: this.loginForm.password,
                        submit: 'Login'
                    }).then(
                        function(response) {
                            alert('Login was successful!');
                        },
                        function(response) {
                            alert('Login failed!');
                        }
                    );
                },
                sendRegistration() {
                    if (!this.registrationFormDataIsValid(
                            this.registrationForm.email,
                            this.registrationForm.password,
                            this.registrationForm.confirmPassword
                        )) {
                        alert('Wrong email, password or "confirm password" was entered!');
                        return;
                    }
                },

                loginFormDataIsValid(email, password) {
                    if (email != null && email.length > 0 &&
                        password != null && password.length > 0) {
                        return true;
                    } else {
                        return false;
                    }
                },

                registrationFormDataIsValid(email, password, confirmPassword) {
                    if (email != null && email.length > 0 &&
                        password != null && password.length > 0 &&
                        confirmPassword != null && confirmPassword.length > 0 &&
                        password === confirmPassword) {
                        return true;
                    } else {
                        return false;
                    }
                }
            },

            mounted() {
                // alert('Vue was mounted!');
                this.refreshAuthenticatedUsername();
            }
        });
    </script>


    <!-- Bootstrap core JavaScript -->
    <script src="./common-resources/vendor/jquery/jquery.min.js"></script>
    <script src="./common-resources/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="./common-resources/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom JavaScript for this theme -->
    <script src="./welcome-page-resources/js/scrolling-nav.js"></script>



</body>

</html>