<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Constructor - ITS Simulator</title>

    <!-- Bootstrap core CSS -->
    <link href="../common-resources/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="./mission-constructor-page-resources/css/bare-page-header-styles.css">


    <!-- Vue.js -->
    <script src="../common-resources/vendor/vue/vue.js"></script>
    <script src="../common-resources/vendor/vue-resource/vue-resource.min.js"></script>


    <!--
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
-->

</head>

<body>

    <div id="app">


        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container">
                <!-- Logo -->
                <a class="navbar-brand js-scroll-trigger" href="../welcome.html#page-top">
                    <img src="./mission-constructor-page-resources/img/rocket.png" alt="logo" width="50"> ITS Simulator
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a href="./mission-management.html" class="btn btn-outline-success">
                                Back to management
                            </a>
                        </li>

                        <li class="nav-item">
                            <div style="width: 50px; height: 20px;"></div>
                        </li>

                        <li class="nav-item">
                            <a href="./personal.html" class="btn btn-outline-secondary">
                                {{userData.username}}
                                <img src="./mission-constructor-page-resources/img/astronaut-icon-vector.png" width="25px" alt="">
                            </a>
                        </li>

                        <li class="nav-item">
                            <div style="width: 10px; height: 10px;"></div>
                        </li>

                        <li class="nav-item">
                            <form action="/logout" method="POST">
                                <button type="submit" class="btn btn-danger">Log out</button>
                            </form>
                        </li>

                        <li class="nav-item">
                            <div style="width: 10px; height: 10px;"></div>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>



        <!-- Page Content -->
        <div class="container">
            <div class="row">


                <div class="col-lg-12 text-center">
                    <a href="">
                        <img width="256" src="./mission-constructor-page-resources/img/constructor.png" alt="">
                    </a>
                    <br><br>
                    <h1 class="mt-5">Mission Constructor</h1>
                    <p class="lead">You see your personal mission construction master. Fill fields and create you new mission right now!</p>
                </div>

                <br><br>

                <form id="mission-form" action="/private/mission-constructor/construct" method="POST" class="mx-auto" oninput="payloadOutput.value=parseFloat(payload.value) / 100">

                    <!-- Form input: -->
                    <div class="card" style="margin: 50px; display: inline-flex;">

                        <div class="card-header" style="text-align: center;">
                            <h3>Mission construction form</h3>
                        </div>

                        <div class="card-body">


                            <div class="form-group">
                                <label for="startPlanet">Choose start point:</label>
                                <select class="form-control" id="startPlanet" v-model="formInput.startPlanet" @change="onInputsChanged">
                                    <option value="{id: -1}" v-if="formInput.startPlanet.id > -1"></option>
                                    <option :value="planet" v-for="planet in planets" v-if="planet.id != formInput.destinationPlanet.id">"{{planet.name}}"  ( {{planet.positionX}} ; {{planet.positionY}} )</option>
                                </select>

                            </div>

                            <div class="form-group">
                                <label for="destinationPlanet">Choose destination point:</label>
                                <select class="form-control" id="destinationPlanet" v-model="formInput.destinationPlanet" @change="onInputsChanged">
                                    <option value="{id: -1}" v-if="formInput.destinationPlanet.id > -1"></option>
                                    <option :value="planet" v-for="planet in planets" v-if="planet.id != formInput.startPlanet.id">{{planet.name}}"  ( {{planet.positionX}} ; {{planet.positionY}} )</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="spaceShip">Select Space Ship:</label>
                                <select class="form-control" id="spaceShip" v-model="formInput.spaceShip" @change="onInputsChanged">
                                        <option :value="spaceShip" v-for="spaceShip in spaceShips">
                                            <span>"{{spaceShip.name}}"</span>
                                            <span>cargo: {{spaceShip.maxCargoCapacity}}</span>  
                                            <span>level: {{spaceShip.level}}</span>  
                                            <span>speed: {{spaceShip.speed}}</span>
                                        </option>
                                    </select>
                            </div>



                            <div class="form-group">

                                <label for="payload">Choose payload:</label>
                                <input :disabled="disablePayloadRange" class="form-control" id="payload" type="range" value="-1.0" min="0.0" :max="formInput.spaceShip.maxCargoCapacity * 100" step="1" v-model="formInput.payload" @change="onInputsChanged">
                                <output id="payloadOutput" for="payload"></output>

                            </div>


                        </div>

                        <div class="card-footer" style="text-align: center;">
                            <button :disabled="disableRequestButton" class="btn btn-success" @click.prevent="constructMissionPressed">
                                Create mission
                            </button>
                            <button class="btn btn-outline-success" @click.prevent="showMissionCard">
                                {{getMissionCardHideButtonText}}
                            </button>
                        </div>

                    </div>



                    <!-- Form output: -->



                    <div class="card" :style="getMissionCardStyle">
                        <div class="card-header" style="text-align: center;">
                            <h3>Mission</h3>
                        </div>
                        <div class="card-body" style="height: auto;">
                            <h6>Start planet: <small>{{displayStartPlanetInput.name}}</small></h6>

                            <h6>Destination planet: <small>{{displayDestinationPlanetInput.name}}</small></h6>

                            <h6>Space Ship: <small>{{displaySpaceShipInput.name}}</small></h6>

                            <h6>Payload: <small>{{displayPayloadInput}}</small></h6>

                            <hr>

                            <h6>Distance: <small>{{displayCalculatedDistance}}</small></h6>

                            <h6>Space Ship level: <small>{{displaySpaceShipInput.level}}</small></h6>

                            <h6>Space Ship speed: <small>{{displaySpaceShipInput.speed}}</small></h6>

                            <hr>

                            <h5 style="display: inline-block;">Time: </h5>
                            <button v-if="missionAnalise.duration >= 0" :disabled="disableSeeTimeButton" class="btn btn-warning btn-block" style="display: inline-block; width: 300px;" @click.prevent="requestMissionAnalise">
                                <span v-if="missionAnalise.duration >= 3600">{{(missionAnalise.duration - missionAnalise.duration % 3600) / 3600}} hours </span>
                                <span v-if="missionAnalise.duration >= 60">{{(missionAnalise.duration - missionAnalise.duration % 60) / 60}} minutes </span>
                                <span v-if="missionAnalise.duration >= 0">{{missionAnalise.duration % 60}} seconds</span><br>
                            </button>
                            <button v-if="missionAnalise.duration < 0" :disabled="disableSeeTimeButton" class="btn btn-warning btn-block" style="display: inline-block; width: 300px;" @click.prevent="requestMissionAnalise">
                                <span >Click to see time</span>
                            </button>
                        </div>
                    </div>




                </form>






            </div>
        </div>


    </div>

    <script>
        new Vue({
            el: '#app',

            data: {

                missionCardIsVisivle: false,

                userData: {
                    username: ''
                },

                defaultUserData: {
                    username: '[username]'
                },

                planets: [],

                defaultPlanets: [{
                    id: 1,
                    name: 'P-001',
                    positionX: 150,
                    positionY: 150
                }, {
                    id: 2,
                    name: 'P-002',
                    positionX: 300,
                    positionY: 300
                }],

                spaceShips: [],

                defaultSpaceShips: [{
                    id: 1,
                    name: 'Dragon-1',
                    maxCargoCapacity: 8.0,
                    level: 3,
                    speed: 15.0
                }, {
                    id: 2,
                    name: 'Dragon-2',
                    maxCargoCapacity: 4.0,
                    level: 2,
                    speed: 27.0
                }],

                formInput: {
                    startPlanet: {
                        id: -1,
                        name: '[start_planet_name]',
                        positionX: -1,
                        positionY: -1
                    },
                    destinationPlanet: {
                        id: -2,
                        name: '[destination_planet_name]',
                        positionX: -2,
                        positionY: -2
                    },
                    spaceShip: {
                        id: -1,
                        name: '[ship_name]',
                        maxCargoCapacity: 100.0,
                        level: -1,
                        speed: 0.0
                    },
                    payload: 0.0,
                },

                missionAnalise: {},

                defaultMissionAnalise: {
                    duration: -1
                }
            },

            computed: {

                getMissionCardStyle() {
                    return 'margin: 50px; display: inline-flex;' +
                        ((this.missionCardIsVisivle) ? '' : ' visibility: hidden;');
                },

                getMissionCardHideButtonText() {
                    return ((this.missionCardIsVisivle) ? 'Hide' : 'Show') + ' Mission Preview';
                },

                properPayload() {
                    return this.formInput.payload / 100;
                },
                calculatedDistance() {
                    if (this.formInput.startPlanet.id < 0 || this.formInput.destinationPlanet.id < 0) {
                        return 0;
                    }

                    let x1 = this.formInput.startPlanet.positionX;
                    let y1 = this.formInput.startPlanet.positionY;
                    let x2 = this.formInput.destinationPlanet.positionX;
                    let y2 = this.formInput.destinationPlanet.positionY;

                    return Math.sqrt(Math.pow(x2 - x1, 2) + Math.pow(y2 - y1, 2));
                },

                disablePayloadRange() {
                    return this.formInput.spaceShip.id < 0;
                },
                disableRequestButton() {
                    return this.formInput.startPlanet.id < 0 ||
                        this.formInput.destinationPlanet.id < 0 ||
                        this.formInput.spaceShip.id < 0 ||
                        this.formInput.payload <= 0;
                },

                disableSeeTimeButton() {
                    return this.disableRequestButton;
                },


                displayStartPlanetInput() {
                    return this.formInput.startPlanet.id < 0 ? '?' : this.formInput.startPlanet;
                },
                displayDestinationPlanetInput() {
                    return this.formInput.destinationPlanet.id < 0 ? '?' : this.formInput.destinationPlanet;
                },
                displaySpaceShipInput() {
                    return this.formInput.spaceShip.id < 0 ? '?' : this.formInput.spaceShip;
                },
                displayPayloadInput() {
                    return this.formInput.payload <= 0 ? '?' : this.properPayload;
                },

                displayCalculatedDistance() {
                    let distance = this.calculatedDistance;
                    return distance <= 0 ? '?' : distance;
                },

                displayTimeWaiting() {
                    return this.missionAnalise.duration < 0 ? 'Click to see' : this.missionAnalise.duration;
                }
            },

            methods: {

                showMissionCard() {
                    this.missionCardIsVisivle = !this.missionCardIsVisivle;
                },

                onInputsChanged() {
                    this.missionAnalise = this.defaultMissionAnalise;
                },

                requestUsername() {
                    this.$http.get('/get-authenticated-username').then(
                        (success) => {
                            console.log('Successfully loaded username! :)');
                            console.log('Loaded username: ' + success.bodyText);
                            this.userData.username = success.bodyText;
                        },
                        (fail) => {
                            console.log('Failed to load username! :(');
                            this.userData = this.defaultUserData;
                        }
                    );
                },
                requestPlanets() {
                    this.$http.get('/private/mission-constructor/planet-list').then(
                        (success) => {
                            console.log('Successfully loaded planets! :)');
                            console.log('Loaded Planets: \n' + JSON.stringify(success.body));
                            this.planets = success.body;
                        },
                        (fail) => {
                            console.log('Failed to load planets! :(');
                            this.planets = this.defaultPlanets;
                        }
                    );
                },
                requestSpaceShips() {
                    this.$http.get('/private/mission-constructor/free-ship-list').then(
                        (success) => {
                            console.log('Successfully loaded Space Ships! :)');
                            console.log('Loaded space Ships: \n' + JSON.stringify(success.body));
                            this.spaceShips = success.body;
                        },
                        (fail) => {
                            console.log('Failed to load Space Ships! :(');
                            this.spaceShips = this.defaultSpaceShips;
                        }
                    );
                },

                requestMissionAnalise() {
                    /*
                    alert('"Analize mission" button was pressed!\n\n' +
                        'startPlanet: ' + JSON.stringify(this.formInput.startPlanet) + '\n' +
                        'destinationPlanet: ' + JSON.stringify(this.formInput.destinationPlanet) + '\n' +
                        'spaceShip: ' + JSON.stringify(this.formInput.spaceShip) + '\n' +
                        'payload: ' + this.formInput.payload);
                        */

                    this.$http.get('/private/mission-constructor/analyze', {
                        params: {
                            start: this.formInput.startPlanet.name,
                            destination: this.formInput.destinationPlanet.name,
                            ship: this.formInput.spaceShip.name,
                            payload: this.properPayload
                        }
                    }).then(
                        (success) => {
                            console.log('Successfully analized mission! :)');
                            console.log('Mission analise: \n' + JSON.stringify(success.body));
                            this.missionAnalise = success.body;
                        },
                        (fail) => {
                            console.log('Failed to analize Mission! :(');
                            alert("ERROR! Can't get Mission Analise!");
                        }
                    );
                },

                /*
                
                                @RequestParam(name = "start") String startPlanetName,
                                @RequestParam(name = "destination") String destinationPlanetName,
                                @RequestParam(name = "ship") String spaceShipName,
                                @RequestParam(name = "payload") String payload,

                                */
                constructMissionPressed() {
                    /*
                    alert('"Create mission" button was pressed!\n\n' +
                        'startPlanet: ' + JSON.stringify(this.formInput.startPlanet.name) + '\n' +
                        'destinationPlanet: ' + JSON.stringify(this.formInput.destinationPlanet) + '\n' +
                        'spaceShip: ' + JSON.stringify(this.formInput.spaceShip) + '\n' +
                        'payload: ' + this.properPayload);
                        */

                    let postBody = {
                        start: this.formInput.startPlanet.name,
                        destination: this.formInput.destinationPlanet.name,
                        ship: this.formInput.spaceShip.name,
                        payload: this.properPayload
                    };

                    this.$http.post('/private/mission-constructor/construct', {}, {
                        params: postBody
                    }).then(
                        (success) => {
                            console.log('Successfully constructed mission! :)');
                            console.log('Mission: \n' + JSON.stringify(success.body));
                            this.constructedMission = success.body;

                            if (confirm('Congrutulations! \nYour new Mission was constructed. \nPress "OK" to start the mission, or "CANCEL" to return.')) {
                                window.location.replace('./mission.html#' + this.constructedMission.id);
                            } else {
                                window.location.replace('./mission-management.html');
                            }
                        },
                        (fail) => {
                            console.log('Failed to construct new Mission! :(');
                            alert("ERROR! Can't construct mission!");
                            alert('Fail response: \n' + JSON.stringify(fail));
                            // window.location.reload();
                        }
                    );
                }
            },

            mounted() {
                this.missionAnalise = this.defaultMissionAnalise;
                this.requestUsername();
                this.requestPlanets();
                this.requestSpaceShips();
            }
        });
    </script>

    <!-- Bootstrap core JavaScript -->
    <script src="../common-resources/vendor/jquery/jquery.min.js"></script>
    <script src="../common-resources/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>